<ul  class="nav nav-tabs nav-stacked">
 {% if TsPage.has_previous %}
  <li><a onclick="$.fn.getTraductions({{ TsPage.previous_page_number }});">&uarr; Précédentes</a></li>
 {% endif %}
 {% for T in TsPage %}
  <li><a id="trad{{ T.pk }}Tab" class="get-trad" href="#" data-toggle="tab" onclick="$.fn.getTrad({{ T.pk }})">{{ T.service }} en {{ T.status }}</a></li>
 {% endfor %}
 {% if TsPage.has_next %}
  <li><a onclick="$.fn.getTraductions({{ TsPage.next_page_number }});">&darr; Suivante(s)</a></li>
 {% endif %}
</ul>
