<form class="form-horizontal" id="tradForm">
 <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
 <input type="hidden" name="action" value="addTrad"/>
 <fieldset>

  <div class="row">
   {% for field in traductionBigForm.visible_fields %}
    <div class="control-group">
     <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
     <div class="controls">
      {{ field }}
     </div>
    </div>
   {% endfor %}
  </div>

 </fieldset>
 <button class="btn btn-primary" onclick="$.fn.addTrad(); return false;">Enregister</button>
</form>

