<ul class="nav nav-tabs nav-stacked">
 {% if AsWithoutTradPage.has_previous %}
  <li><a onclick="$.fn.getAsWithoutTrad({{ AsWithoutTradPage.previous_page_number }});">&uarr; Précédentes</a></li>
 {% endif %}
 {% for A in AsWithoutTradPage %}
  <li><a id="AWithoutTrad{{ A.pk }}Tab" href="#" data-toggle="tab" onclick="$.fn.getAlertWithoutTrad({{ A.pk }})">{{ A.host }} - {{ A.service }} : {{ A.status }}</a></li>
 {% endfor %}
 {% if AsWithoutTradPage.has_next %}
  <li><a onclick="$.fn.getAsWithoutTrad({{ AsWithoutTradPage.next_page_number }});">&darr; Suivante(s)</a></li>
 {% endif %}
</ul>
