<ul  class="nav nav-tabs nav-stacked">
 {% if GSsPage.has_previous %}
  <li><a onclick="$.fn.snafu_object('list','supplier',{{ GSsPage.previous_page_number }});">&uarr; Précédents</a></li>
 {% endif %}
 {% for GS in GSsPage %}
  <li><a id="supplier{{ GS.pk }}Tab" href="#" data-toggle="tab" onclick="$.fn.snafu_object('get','supplier',{{ GS.pk }})">{{ GS.name }}</a></li>
 {% endfor %}
 {% if GSsPage.has_next %}
  <li><a onclick="$.fn.snafu_object('list','supplier',{{ GSsPage.next_page_number }});">&darr; Suivant(s)</a></li>
 {% endif %}
</ul>

