<ul  class="nav nav-tabs nav-stacked">
 {% if SsPage.has_previous %}
  <li><a onclick="$.fn.snafu_object('list','supplier',{{ SsPage.previous_page_number }});">&uarr; Précédents</a></li>
 {% endif %}
 {% for S in SsPage %}
  <li><a id="supplier{{ S.pk }}Tab" href="#" data-toggle="tab" onclick="$.fn.snafu_object('get','supplier',{{ S.pk }})">{{ S.name }}</a></li>
 {% endfor %}
 {% if SsPage.has_next %}
  <li><a onclick="$.fn.snafu_object('list','supplier',{{ SsPage.next_page_number }});">&darr; Suivant(s)</a></li>
 {% endif %}
</ul>

