<!DOCTYPE html>
 
<html lang="en">
  <head>
   {% include "base/header.html" %}
  </head>

  <body>
   {% include "base/nav-bar.html" %}
   
   <div class="container-fluid" style="padding-right:5px; padding-left:5px;">
    {% block body %}
    {% endblock %}
   </div> <!-- /container -->
  
   <div class="container-fluid" style="padding-right:25px; padding-left:25px;">
    <footer class="footer">
     {% include "base/footer.html" %}
    </footer>
   </div> <!-- /container -->

   <div class="modal hide fade in" style="display: hidden; width: 800px;" id="infoModal">
   </div>

  </body>
</html>
   
