<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container">
   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </a>
   <a class="brand" href="/snafu">Snafu</a>
   <div class="nav-collapse">
    <ul class="nav">
     <li><a href="/snafu/events"><i class="icon-tasks icon-white"></i> Events</a></li>
    </ul>
    
    <ul class="nav pull-right">
     <li><a href="/snafu/configuration"> Conf</a></li>
     <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ user.username }}<b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li><a href="/admin">Admin</a></li>
       <li class="divider"></li>
       <li><a href="/snafu/logout">Déconnexion</a></li>
      </ul>
     </li>
    </ul>
   </div><!--/.nav-collapse -->

  </div>
 </div>
</div>

