<form id="templateForm" class="form-horizontal">
 {% csrf_token %}
 <fieldset>

  <div class="row">

   <div class="span5">
   {% for field in MailTemplateForm %}
     <div class="control-group">
      <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
      <div class="controls">
       {{ field }}
      </div>
     </div>
   {% endfor %}
   </div>

   <div class="span2">
    <h3>Variables:</h3>
    <dl>
     <dt>$HOST$</dt>
     <dd>Nom d'hôte</dd>

     <dt>$MESSAGE$</dt>
     <dd>Message de l'événement</dd>

     <dt>$MAIL_TYPE$</dt>
     <dd>Type de mail</dd>

     <dt>$CRITICITY$</dt>
     <dd>Mineur ou majeur</dd>

     <dt>$GLPI$</dt>
     <dd>Numéro de ticket</dd>

     <dt>$GLPI-URL$</dt>
     <dd>URL du serveur</dd>

     <dt>$DATETIME$</dt>
     <dd>Jour et heure</dd>

     <dt>$DATE$</dt>
     <dd>Jour</dd>

     <dt>$TIME$</dt>
     <dd>Heure</dd>

     <dt>$LOG$</dt>
     <dd>Journaux d'alerte</dd>

     <dt>$TRANSLATION$</dt>
     <dd>Traduction simple</dd>
    </dl>
   </div>

  </div>

 </fieldset>
 <button class="btn btn-primary" onclick="$.fn.snafu_object('add','template'); return false;">Enregister</button>
</form>

