<ul  class="nav nav-tabs nav-stacked">
 {% if GUsPage.has_previous %}
  <li><a onclick="$.fn.snafu_object('list','glpiUser',{{ GUsPage.previous_page_number }});">&uarr; Précédents</a></li>
 {% endif %}
 {% for GU in GUsPage %}
  <li><a id="glpiUser{{ GU.pk }}Tab" href="#" data-toggle="tab" onclick="$.fn.snafu_object('get','glpiUser',{{ GU.pk }})">{{ GU.name }}</a></li>
 {% endfor %}
 {% if GUsPage.has_next %}
  <li><a onclick="$.fn.snafu_object('list','glpiUser',{{ GUsPage.next_page_number }});">&darr; Suivant(s)</a></li>
 {% endif %}
</ul>

