<!DOCTYPE html>
 
<html lang="en">
  <head>
   <div class="container">
   <meta charset="utf-8">
   <title>Snafu - 404</title>
   <link href="/static/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
   <div class="row">
    <h1 style="text-align:center;">SNAFU</h1>
   </div>

   <div class="row">
    <h2>Erreur interne du serveur<h6>
   </div>
   
   <div class="row">
    <footer class="footer">
     {% include "base/footer.html" %}
    </footer>
   </div>

   </div>
  </body>
</html>
   

