{% load getAlertColor %}
{% load getLastAlert %}
{% load getProcedure %}
{% load getEscalation %}

{% for E in Es %}
 <tr id="Event{{ E.pk }}" element="{{ E.element.host }}" criticty="{{ E.criticity }}" mail="{{ E.mail }}" glpi="{{ E.glpi }}" style="background-color:{{ E.pk|getAlertColor:"event" }} ;">
  <td><input type="checkbox" value="{{ E.pk }}"></td>
  <td>{{ E.pk }}</td>
  <td>{{ E.date|date:"Y/m/d - G:i:s" }}</td>
  <td>{{ E.element }}</td>
  <td>{{ E.criticity }}</td>
  <td>{{ E.message }}</td>

  <td>
   <form method="POST" action="/events" style="margin: 0px 0px 0px">{% csrf_token %}
  {% if E.criticity = '?' %}
    <input type="hidden" name="eventPk" value="{{ E.pk }}">
    <button class="btn btn-primary" name="add_ref_q"><i class="icon-comment icon-white"></i></button>
  {% else %}{% if not E.glpi %}
    <input type="hidden" name="alertPk" value="{{ E.pk|getLastAlert }}">
    <input type="hidden" name="eventPk" value="{{ E.pk }}">
    <button class="btn btn-primary" name="treatment_q"><i class="icon-pencil icon-white"></i><i class="icon-envelope icon-white"></i></button>
  {% else %}{% if not E.mail %}
    <input type="hidden" name="alertPk" value="{{ E.pk|getLastAlert }}">
    <input type="hidden" name="eventPk" value="{{ E.pk }}">
    <button class="btn btn-primary" name="treatment_q"><i class="icon-envelope icon-white"></i> {{ E.glpi }}</button>
  {% else %}
   <a class="btn btn-primary" href="{{ glpi.ticket_url }}{{ E.glpi }}">{{ E.glpi }}</a>
  {% endif %}{% endif %}{% endif %}
   </form>
  </td>

  <td>
   <div class="btn-group">
    <button class="btn 
     {% if E.pk|getEscalation %}btn-danger{% else %}btn-info{% endif %}
     {% if not E.pk|getProcedure %} disabled{% endif %}
    ">
    {% if event.pk|getProcedure %}
     <a href="{{ E.pk|getProcedure }}"><i class="icon-globe icon-white"></i></a>
    {% else %}Info
    {% endif %}
    </button>
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
     <li><a onclick="$.get('/eventAlerts',{ eventPk: '{{ E.pk }}' }, function(data) {
       $('#infoModal').html( data );
       $('#infoModal').modal('toggle')
     });">Alerts de l'Event</a></li>
     
     <li><a onclick="$.get('/eventHistory',{ eventPk: '{{ E.pk }}' }, function(data) {
       $('#infoModal').html( data );
       $('#infoModal').modal('toggle')
     });">Historique</a></li>
     
     <li><a onclick="$.get('/eventReference',{ eventPk: '{{ E.pk }}' },function(data) {
       $('#infoModal').html( data );
       $('#infoModal').modal('toggle')
     });">Reference</a></li>
     
     <li><a href="{{ nagios.host_status_url }}{{ E.element }}">Vision Nagios</a></li>
    </ul>
   </div>
  </td>
 </tr>
{% endfor %}

