{% extends 'base.html' %}

{% block body %}
{% load getLastAlert %}
{% load getAlertColor %}
{% load getProcedure %}
<div class="span2">

 <div class="sidebar-nav well" style="position: relative">
  <ul class="nav nav-list">
   <li> <button class="btn btn-mini disabled" onclick="$('tr').show();">Reset</button> </li>
   <li class="nav-header"></li>
   <li> <input type="text" class="input-small" id="pk" filter="pk" placeholder="#Event"> </li>
   <li> <input type="text" class="input-small" id="element" filter="element" placeholder="Element..."> </li>
   <li> <input type="text" class="input-small" id="glpi" filter="glpi" placeholder="#GLPI..."> </li>
   <li> <input type="text" class="input-small" id="message" filter="message" placeholder="Message..."> </li>
   <li><input type="text" class="input-small" id="datepicker" filter="datepicker" placeholder="date..." onclick="$(this).datepicker({dateFormat: 'yy-mm-dd'});"></li>
  </ul>
 </div>
</div>

<div class="span10">

            <table class="table">
		<thead>
			<tr>
				<th></th>
				<th>#</th>
				<th>Date</th>
				<th>Element</th>
				<th>Criticité</th>
				<th>Message</th>
                                <th><i class="icon-cog"></i></th>
				<!--th>Mail</th-->
				<th>
<form action"." method=POST style="margin: 0px 0px 0px">{% csrf_token %}
<button class="btn btn-primary" type="submit" name="reloadAlert_q"><i class="icon-refresh icon-white"></i></button>
</form>

				</th>
			</tr>
                        <tr><th colspan="8">
                                Action :
                                <button class="btn btn-mini" onclick="
                                 ids = [];
                                 $('input:checked').each( function(box) { ids.push( $(this).val() )})
                                 $.get('/eventsAgr', { events: ids }, 
                                   function(data) {
                                    $('#infoModal').html( data );
                                    $('#infoModal').modal('toggle');
                                    });
                                 ids.length = 0;">
                                    Agreger</button>
                        </th></tr>
		</thead>
		<tbody>
			{% for event in events %}
                        <tr id="Event{{ event.pk }}" element="{{ event.element.host }}" criticty="{{ event.criticity }}" mail="{{ event.mail }}" glpi="{{ event.glpi }}" style="background-color:{{ event.pk|getAlertColor:"event" }} ;">
                                <td><input type="checkbox" value="{{ event.pk }}"></td>
				<td>{{ event.pk }}</td>
				<td>{{ event.date|date:"Y/m/d - G:i:s" }}</td>
				<td>{{ event.element }}</td>
				<td>{{ event.criticity }}</td>
				<td>{{ event.message }}</td>

				<td>
                                {% if event.criticity = '?' %}
                                    <form method="POST" action="/events" style="margin: 0px 0px 0px">{% csrf_token %}
                                            <input type="hidden" name="alertPk" value="{{ event.pk|getLastAlert }}">
                                            <input type="hidden" name="eventPk" value="{{ event.pk }}">
                                            <button class="btn btn-primary" name="add_ref_q"><i class="icon-comment icon-white"></i></button>
                                    </form>
                                {% else %}{% if not event.glpi %}
					<form method="POST" action="/events" style="margin: 0px 0px 0px">{% csrf_token %}
						<input type="hidden" name="alertPk" value="{{ event.pk|getLastAlert }}">
						<input type="hidden" name="eventPk" value="{{ event.pk }}">
                                                <button class="btn btn-primary" name="treatment_q"><i class="icon-pencil icon-white"></i><i class="icon-envelope icon-white"></i></button>
					</form>
                                {% else %}{% if not event.mail %}
					<form method="POST" action="/events" style="margin: 0px 0px 0px">{% csrf_token %}
						<input type="hidden" name="alertPk" value="{{ event.pk|getLastAlert }}">
						<input type="hidden" name="eventPk" value="{{ event.pk }}">
                                                <button class="btn btn-primary" name="treatment_q"><i class="icon-envelope icon-white"></i> {{ event.glpi }}</button>
					</form>
                                {% else %}
                                    <a class="btn btn-primary" href="{{ glpi.ticket_url }}{{ event.glpi }}">{{ event.glpi }}</a>
                                {% endif %}{% endif %}{% endif %}

				</td>

				<td>
				<div class="btn-group">
                                                <script type="text/javascript">
                                                function callback(data){
                                                        alert(data.message);
                                                }
                                                </script>
                                        <button class="btn btn-info {% if not event.pk|getProcedure %}disabled{% endif %}">
                        {% if event.pk|getProcedure %}
                        <a href="{{ event.pk|getProcedure }}"><i class="icon-globe icon-white"></i></a>
                        {% else %}Info
                        {% endif %}
                        </button>
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu">
                                            <li><a onclick="   $.get('/eventAlerts',
                                                { eventPk: '{{ event.pk }}' },
                                                function(data) {
                                                    $('#infoModal').html( data );
                                                    $('#infoModal').modal('toggle')
                                                    });">Alerts de l'Event</a></li>

                                            <li><a onclick="   $.get('/eventHistory',
                                                { eventPk: '{{ event.pk }}' }, 
                                                function(data) {
                                                    $('#infoModal').html( data );
                                                    $('#infoModal').modal('toggle')
                                                    });">Historique</a></li>

                                            <li><a onclick="   $.get('/eventReference',
                                                { eventPk: '{{ event.pk }}' },
                                                function(data) {
                                                    $('#infoModal').html( data );
                                                    $('#infoModal').modal('toggle')
                                                    });">Reference</a></li>

                                            <li><a href="http://nagios.eqx.sup.autolib.eu/nagios/cgi-bin/status.cgi?host={{ event.element }}">Vision Nagios</a></li>
                                            <!--li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li-->
					</ul>
				</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
     <div class="well">
        <div class="btn-group">
            {% for npage in numPage %}
            <a class="btn" href="/events/{{ npage }}">{{ npage }}</a>
            {% endfor %}
        </div>
        {{ msg }}
    </div>
       </div>
    <div class="modal hide fade in" style="display: hidden; width: 800px;" id="infoModal" >
        
    </div>

<script type="text/javascript">
    $('input[filter]').change( function() {
            $.get('/events/filter',
                {
                    'pk': $('#pk').val(),
                    'element': $('#element').val(),
                    'glpi' : $('#glpi').val(),
                    'message' : $('#message').val(),
                    'date' : $('#datepicker').val()
                }, function(data) {
                $('tbody').html( data );
            })
    });
</script>

    {% endblock %}
