{% extends 'base.html' %}	


{% block body %}
 <h2>Il manque les références pour {{ Forms|length }} alerte(s)</h2>
 <h3>Veuillez remplir les formulaire de chacun</h3>

 <div class="tabbable tabs-left">
  <ul id="alertTab" class="nav nav-tabs nav-stacked">
  {% for A,F in Forms.values %}
   <li{% if forloop.counter == 1 %} class="active"{% endif %}><a href="#A{{ A.pk }}" data-toggle="tab">{{ A }}</a></li>
  {% endfor %}
  </ul>
 
  <form class="form-horizontal" action="/events/configuration" method="post">
   {% csrf_token %}
   <input type="hidden" name="action" value="addRef">

   <div id="A{{ A.pk }}Content" class="tab-content">
   {% for A,Form in Forms.values %}
     <div class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id="A{{ A.pk }}">
      <h3>Formulaire pour {{ A }}</h3>
      <fieldset>
      {% for field in Form.alertFields %}
       <div class="control-group">
        <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
        <div class="controls">
         {{ field }}
        </div>
       </div>
      {% endfor %}

      </fieldset>
    </div>
   {% endfor %}
   </div>

   <button type="submit" class="btn btn-primary">Enregister</button>
  </form>

 </div>
{% endblock %}
