{% extends 'base/base.html' %}	


{% block body %}

 <h2>Il manque les références pour {{ Forms|length }} alerte(s)</h2>
 <h3>Veuillez remplir les formulaire de chacun</h3>

 <div class="tabbable tabs-left">

  <ul id="alertTab" class="nav nav-tabs nav-stacked">
  {% for F in Forms %}
   <li {% if forloop.counter == 1 %} class="active"{% endif %}>
    <a id="R{{ forloop.counter }}Tab" href="#R{{ forloop.counter }}TabContent" data-toggle="tab">Ref {{ forloop.counter }}: {{ F.host_as_text }} - {{ F.service_as_text }}</a>
   </li>
  {% endfor %}
  </ul>
 
  <div class="tab-content">
  {% for referenceBigForm in Forms %}
    <div class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id="R{{ forloop.counter }}TabContent">
     {% include "configuration/reference/addref/form.html" %}
     <button class="btn btn-primary" onclick="$.fn.validRef({{ forloop.counter }})">Ajouter référence</button>
    </div>
  {% endfor %}
  </div>

 </div>

<form id="submit" method="POST" action="/snafu/events" style="display:none">{% csrf_token %}
 <input name="eventPk" value="{{ E.pk }}">
 <input name="treatment_q">
</form>

<script>
 $('button[type="submit"]').hide()
</script>

{% endblock %}
