{% extends 'base/base.html' %}	


{% block body %}

 <h2>Il manque les références pour {{ Forms|length }} alerte(s)</h2>
 <h3>Veuillez remplir les formulaire de chacun</h3>

 <div class="tabbable tabs-left">

  <ul id="alertTab" class="nav nav-tabs nav-stacked">
  {% for F in Forms %}
   <li id="R{{ forloop.counter }}Tab"{% if forloop.counter == 1 %} class="active"{% endif %}>
    <a href="#R{{ forloop.counter }}" data-toggle="tab">Ref {{ forloop.counter }}: {{ F.host_as_text }} - {{ F.service_as_text }}</a>
   </li>
  {% endfor %}
  </ul>
 
  <div class="tab-content">
  {% for Form in Forms %}
   <div class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id="R{{ forloop.counter }}TabContent">
  <form id="R{{ forloop.counter }}Form" class="form-horizontal" action="/snafu/configuration" method="post">
   {% csrf_token %}
   <input type="hidden" name="action" value="addRef">

    <h3>Formulaire {{ forloop.counter }} : {{ Form.host_as_text }} - {{ Form.service_as_text }}</h3>
    <fieldset>

      <div class="span4">
      {% for field in Form.alertFields %}
       <div class="control-group">
        <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
        <div class="controls">
         {{ field }}
        </div>
       </div>
      {% endfor %}
      </div>

      <div class="span4">
      {% for field in Form.glpiFields %}
       <div class="control-group">
        <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
        <div class="controls">
         {{ field }}
        </div>
       </div>
      {% endfor %}
      </div>

      <div class="span4">
      {% for field in Form.commonFields %}
       <div class="control-group">
        <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
        <div class="controls">
         {{ field }}
        </div>
       </div>
      {% endfor %}
      </div>

     <div class="span4">
     {% for field in Form.warning %}
      <div class="control-group">
       <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
       <div class="controls">
        {{ field }}
       </div>
      </div>
     {% endfor %}
     </div>

     <div class="span4">
     {% for field in Form.critical %}
      <div class="control-group">
       <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
       <div class="controls">
        {{ field }}
       </div>
      </div>
     {% endfor %}
     </div>

     <div class="span4">
     {% for field in Form.unknown %}
      <div class="control-group">
       <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
       <div class="controls">
        {{ field }}
       </div>
      </div>
     {% endfor %}
     </div>


    </fieldset>

   <button class="btn btn-primary" num="{{ forloop.counter }}">Soumettre</button>
  </form>
   </div>
  {% endfor %}
  </div>

 </div>

 <form id="submit" action="/snafu/events" method="post" style="display: none;">
  {% csrf_token %}
  <input type="hidden" name="eventPk" value="{{ E.pk }}">
  <input type="hidden" name="treatment_q" value="{{ E.pk }}">
 </form>
{% endblock %}
