{% extends 'base.html' %}

{% block body %}
 <div class="span2">
  <div class="sidebar-nav well" style="position: fixed;">
   <ul class="nav nav-list">
    <li class="nav-header"></li>
    <li> <input type="text" class="input-small" id="pk" filter="pk" placeholder="#Event"> </li>
    <li> <input type="text" class="input-small" id="element" filter="element" placeholder="Element..."> </li>
    <li> <input type="text" class="input-small" id="glpi" filter="glpi" placeholder="#GLPI..."> </li>
    <li> <input type="text" class="input-small" id="message" filter="message" placeholder="Message..."> </li>
    <li><input type="text" class="input-small" id="datepicker" filter="datepicker" placeholder="date..." onclick="$(this).datepicker({dateFormat: 'yy-mm-dd'});"></li>
   </ul>
  </div>
 </div>

 <div class="span10">
  <table class="table">
   <thead>
    <tr>
     <th></th>
     <th>#</th>
     <th>Date</th>
     <th>Element</th>
     <th>Criticité</th>
     <th>Message</th>
     <th><i class="icon-cog"></i></th>
     <th>
      <form action"." method=POST style="margin: 0px 0px 0px">{% csrf_token %}
       <button class="btn btn-primary" type="submit" name="reloadAlert_q"><i class="icon-refresh icon-white"></i></button>
      </form>
     </th>
    </tr>
    <tr>
     <th colspan="8">
      <div class="btn-group">
       <button class="btn btn-mini disabled">Actions : </button>
       <button class="btn btn-mini" onclick="$.fn.AgrForm()">Agreger</button>
       <button class="btn btn-mini" onclick="$.fn.CPAForm()">Alerte primaire</button>
       <button class="btn btn-mini" onclick="$.fn.CloseForm()">Clôturer</button>
       <button class="btn btn-mini" onclick="$.fn.FollowUpForm()">Suivi GLPI</button>
      </div>
     </th>
    </tr>
   </thead>
   <tbody id="E_tbody">
   {% include 'event/tr.html' %}
   </tbody>
  </table>
 </div>

 <div class="modal hide fade in" style="display: hidden; width: 800px;" id="infoModal" >
        
 </div>

{% endblock %}
