{% load getEventColor %}
{% load getProcedure %}
{% load getEscalation %}

{% for E in Es %}
 <tr id="Event{{ E.pk }}" class="{{ E|getEventColor }}" style="">
  <td><input type="checkbox" value="{{ E.pk }}"></td>
  <td>{{ E.pk }}</td>
  <td>{{ E.date|date:"Y/m/d - G:i:s" }}</td>
  <td>{{ E.element }}</td>
  <td>{{ E.criticity }}</td>
  <td>{{ E.message }}</td>

  <td>
   <form method="POST" action="/snafu/events" style="margin: 0px 0px 0px">{% csrf_token %}
    <input type="hidden" name="eventPk" value="{{ E.pk }}">
    <div class="btn-group">
     {% if E.criticity = '?' %}
      <button class="btn btn-primary" data-content="Cliquez ici pour remplir la renseigner." rel="popover" data-original-title="Pas de référence" name="treatment_q"><i class="icon-comment icon-white"></i></button>
     {% else %}
       {% if not E.glpi %}

        {% if glpi.connection %}
         <p class="btn btn-primary disabled" data-content="{{ glpi.connection }}" rel="popover" data-original-title="GLPI Hors service"><i class="icon-pencil icon-white"></i></p>
        {% else %}
         <button class="btn btn-primary" name="treatment_q"><i class="icon-pencil icon-white"></i></button>
        {% endif %}

       {% else %}

        {% if glpi.connection %}
         <p class="btn btn-primary disabled" data-content="{{ glpi.connection }}" rel="popover" data-original-title="GLPI Hors service">{{ E.glpi }}</p>
        {% else %}
         <a class="btn btn-primary" target="_blank" href="{{ glpi.ticket_url }}{{ E.glpi }}">{{ E.glpi }}</a>
        {% endif %}

       {% endif %}

       {% if not E.mail %}
        {% if not E.glpi %}
         <p class="btn btn-primary disabled" data-content="Créer le ticket GLPI avant." rel="popover" data-original-title="Impossible d'envoyer"><i class="icon-envelope icon-white"></i></p>
        {% else %}
        {% if smtp.connection %}
         <p class="btn btn-primary disabled" data-content="Serveur SMTP injoignable." rel="popover" data-original-title="Impossible d'envoyer"><i class="icon-envelope icon-white"></i></p>
        {% else %}
         <button class="btn btn-primary" name="treatment_q"><i class="icon-envelope icon-white"></i></button>
        {% endif %}
        {% endif %}
       {% else %}
        <button class="btn btn-primary disabled"><i class="icon-envelope icon-white"></i></button>
       {% endif %}

     {% endif %}
    </div>
   </form>
  </td>

  <td>
   <div class="btn-group">
    <button class="btn 
     {% if E|getEscalation %}btn-danger{% else %}btn-info{% endif %}
     {% if not E|getProcedure %} disabled{% endif %}
    ">
    {% if E|getProcedure %}
     <a href="{{ E|getProcedure }}"><i class="icon-globe icon-white"></i></a>
    {% else %}Info
    {% endif %}
    </button>
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
     <li><a onclick="$.fn.UseModal('/snafu/event/alerts',{ eventPk:{{ E.pk }} })">Alerts de l'Event</a></li>
     
     <li><a onclick="$.fn.UseModal('/snafu/event/history',{ eventPk:{{ E.pk }} } )">Historique de l'alert primaire</a></li>
     
     <li><a onclick="$.fn.UseModal('/snafu/event/reference',{ eventPk:{{ E.pk }} })">Reference</a></li>
     
    <!--
     {% if nagios.connection %}
     <li><a class="disabled" data-content="{{ nagios.connection }}" rel="popover" data-original-title="Nagios hors service">Vision Nagios</a></li>
     {% else %}
     <li><a target="_blank" href="{{ nagios.host_status_url }}{{ E.element }}">Vision Nagios</a></li>
     {% endif %}
    --!>
    </ul>
   </div>
  </td>
 </tr>
{% endfor %}

