{% load getEventColor %}
{% load getProcedure %}
{% load getEscalation %}

{% for E in Es %}
 <tr id="Event{{ E.pk }}" class="{{ E|getEventColor }}" style="">
  <td><input type="checkbox" value="{{ E.pk }}"></td>
  <td>{{ E.pk }}</td>
  <td>{{ E.date|date:"Y/m/d - G:i:s" }}</td>
  <td>{{ E.element }}</td>
  <td>{{ E.criticity }}</td>
  <td>{{ E.message }}</td>

  <td>
   <form method="POST" action="/snafu/events" style="margin: 0px 0px 0px">{% csrf_token %}
    <input type="hidden" name="eventPk" value="{{ E.pk }}">
    <div class="btn-group">
     {% if E.criticity = '?' %}
      <button class="btn btn-primary" name="treatment_q"><i class="icon-comment icon-white"></i></button>
     {% else %}
       {% if not E.glpi %}
        <button class="btn btn-primary" name="treatment_q"><i class="icon-pencil icon-white"></i></button>
       {% else %}
        <a class="btn btn-primary" href="{{ glpi.ticket_url }}{{ E.glpi }}">{{ E.glpi }}</a>
       {% endif %}
       {% if not E.mail %}
        {% if not E.glpi %}
         <button class="btn btn-primary disabled"><i class="icon-envelope icon-white"></i></button>
        {% else %}
         <button class="btn btn-primary" name="treatment_q"><i class="icon-envelope icon-white"></i></button>
        {% endif %}
       {% else %}
        <button class="btn btn-primary disabled"><i class="icon-envelope icon-white"></i></button>
       {% endif %}
     {% endif %}
    </div>
   </form>
  </td>

  <td>
   <div class="btn-group">
    <button class="btn 
     {% if E.pk|getEscalation %}btn-danger{% else %}btn-info{% endif %}
     {% if not E.pk|getProcedure %} disabled{% endif %}
    ">
    {% if event.pk|getProcedure %}
     <a href="{{ E.pk|getProcedure }}"><i class="icon-globe icon-white"></i></a>
    {% else %}Info
    {% endif %}
    </button>
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
     <li><a onclick="$.fn.UseModal('/snafu/event/alerts',{ eventPk:{{ E.pk }} })">Alerts de l'Event</a></li>
     
     <li><a onclick="$.fn.UseModal('/snafu/event/history',{ eventPk:{{ E.pk }} } )">Historique de l'alert primaire</a></li>
     
     <li><a onclick="$.fn.UseModal('/snafu/event/reference',{ eventPk:{{ E.pk }} })">Reference</a></li>
     
     <li><a href="{{ nagios.host_status_url }}{{ E.element }}">Vision Nagios</a></li>
    </ul>
   </div>
  </td>
 </tr>
{% endfor %}

