{% load addFontColor %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4>Historique des alertes : {{ As.0.host }} - {{ As.0.service }}</h4>
</div>
<div class="modal-body" id="referenceModalBody">
    <ul>
    {% for A in As %}
    <li>{{ A.date|date:"Y/m/d - G:i:s" }} - {{ A.info|addFontColor:A.status.status|safe }}</li>
    {% endfor %}
    </ul>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Fermer</a>
</div>
