{% load addFontColor %}
<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal">×</button>
 <h4>Historique des alertes pour l'évenement #{{ E.pk }} : {{ E.message }}</h4>
</div>

<div class="modal-body" id="referenceModalBody">
 <ul>
  {% for A in As %}
   <li>{{ A.date|date:"Y/m/d - G:i:s" }} - {{ A.service }} : {{ A.info|addFontColor:A.status.name|safe }}</li>
  {% endfor %}
 </ul>
</div>

<div class="modal-footer">
 <a href="#" class="btn" data-dismiss="modal">Fermer</a>
</div>
