<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4>Ajouter un suivi au ticket #{{ E.glpi }} : </h4>
</div>

<form method="POST" action="/snafu/event/followup">{% csrf_token %}
 <input type="hidden" name="eventPk" value="{{ E.pk }}">
    <div class="modal-body" id="referenceModalBody">
     <input type="textarea" name="content" placeholder="Suivi GLPI">
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Soumettre"></a>
        <a href="#" class="btn" data-dismiss="modal">Annuler</a>
    </div>
</form>
