{% extends 'base/base.html' %}

{% block body %}
<h2>Configuration</h2>

{% csrf_token %}
<ul id="myTab" class="nav nav-tabs">
 <li class="active"><a href="#supervisor" data-toggle="tab">Superviseur(s)</a></li>
 <li><a href="#reference" data-toggle="tab">Références</a></li>
 <li><a href="#translation" data-toggle="tab">Traductions</a></li>
 <li><a href="#black_reference" data-toggle="tab">Exceptions</a></li>
 <li><a href="#user" data-toggle="tab">Utilisateurs</a></li>
 <li><a href="#mail" data-toggle="tab">Mail</a></li>
 <li><a href="#glpi" data-toggle="tab">GLPI</a></li>
</ul>

<div id="myTabContent" class="tab-content">
 <div class="tab-pane fade in active" id="supervisor">
  {% include "configuration/supervisor/index.html" %}
 </div>
 <div class="tab-pane fade" id="reference">
  {% include "configuration/reference/index.html" %}
 </div>
 <div class="tab-pane fade" id="black_reference">
  {% include "configuration/black_reference/index.html" %}
 </div>
 <div class="tab-pane fade" id="translation">
  {% include "configuration/translation/index.html" %}
 </div>
 <div class="tab-pane fade" id="user">
  {% include "configuration/user/index.html" %}
 </div>
 <div class="tab-pane fade" id="mail">
  {% include "configuration/mail/index.html" %}
 </div>
 <div class="tab-pane fade" id="glpi">
  {% include "configuration/glpi/index.html" %}
 </div>
</div>

{% endblock %}
