{% extends 'base.html' %}

{% block body %}
<h2>Configuration</h2>

<ul id="myTab" class="nav nav-tabs">
 <li class="active"><a href="#reference" data-toggle="tab">References</a></li>
 <li><a href="#traduction" data-toggle="tab">Traductions</a></li>
 <li><a href="#mail" data-toggle="tab">Template de Mail</a></li>
</ul>

<div id="myTabContent" class="tab-content">
 <div class="tab-pane fade in active" id="reference">
  {% include "configuration/reference.html" %}
 </div>
 <div class="tab-pane fade" id="traduction">
  {% include "configuration/traduction.html" %}
 </div>
 <div class="tab-pane fade" id="mail">
  {% include "configuration/mail.html" %}
 </div>
</div>

{% endblock %}
