<div class="tabbable tabs-left">
 <ul id="Tab" class="nav nav-tabs nav-stacked">
  <li class="active"><a href="#mailTemplateList" data-toggle="tab">{{ mailTemplates.count }} modèle(s) de de mail</a></li>
  <li><a href="#avenir" data-toggle="tab">A venir</a></li>
 </ul>
 
 <div id="mailTemplateContent" class="tab-content">
  <div class="tab-pane fade in active" id="mailTemplateList">
  {% for mailTemplate in mailTemplates %}
   <p>{{ mailTemplate }}</p>
  {% endfor %}
  </div>
  <div class="tab-pane fade" id="avenir">
   A venir...
  </div>
 </div>

</div> 

