<div class="tabbable tabs-left">
 <ul id="referenceTab" class="nav nav-tabs nav-stacked">
  <li class="active"><a href="#referenceList" data-toggle="tab">{{ references.count }} référence(s)</a></li>
  <li><a href="#alertWithoutRef" data-toggle="tab">{{ alertsWithoutRef.count }} alerte(s) sans référence</a></li>
  <li><a href="#addRef" data-toggle="tab">Ajouter référence</a></li>
 </ul>
 
 <div id="referenceTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="referenceList">
  {% for reference in references %}
   <p>{{ reference }}</p>
  {% endfor %}
  </div>
  <div class="tab-pane fade" id="alertWithoutRef">
  {% for alert in alertsWithoutRef %}
   <p>{{ alert }}</p>
  {% endfor %}
  </div>

  <div class="tab-pane fade" id="addRef">
   <form class="form-horizontal" action="/events/configuration" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="addRef">
    <fieldset>
    {% for field in referenceBigForm.visible_fields %}
     <div class="control-group">
      <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
      <div class="controls">
       {{ field }}
      </div>
     </div>
    {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-primary">Enregister</button>
   </form>
   </div>

 </div>
</div> 
