<div class="tabbable tabs-left">
 <ul id="traductionTab" class="nav nav-tabs nav-stacked">
  <li class="active"><a href="#traductionList" data-toggle="tab">{{ traductions.count }} traduction(s)</a></li>
  <li><a href="#alertsWithoutTrad" data-toggle="tab">{{ alertsWithoutTrad.count }} alerte(s) sans traduction</a></li>
  <li><a href="#addTrad" data-toggle="tab">Ajouter traduction</a></li>
 </ul>
 
 <div id="traductionTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="traductionList">
  {% for traduction in traductions %}
   <p>{{ traduction }}</p>
  {% endfor %}
  </div>
  <div class="tab-pane fade" id="alertsWithoutTrad">
  {% for alert in alertsWithoutTrad %}
   <p>{{ alert }}</p>
  {% endfor %}
  </div>

  <div class="tab-pane fade" id="addTrad">
   <form class="form-horizontal" action="/events/configuration" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="addTrad">
    <fieldset>
    {% for field in traductionBigForm.visible_fields %}
     <div class="control-group">
      <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
      <div class="controls">
       {{ field }}
      </div>
     </div>
    {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-primary">Enregister</button>
   </form>
   </div>

 </div>
</div> 
