<form id="userForm" class="form-horizontal">
 {% csrf_token %}
 <fieldset>

  <div class="row">

   <div class="span4">
   {% for field in UserForm %}

    {% if field.is_hidden %}
     {{ field }}
    {% else %}
     <div class="control-group">
      <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
      <div class="controls">
       {{ field }}
      </div>
     </div>
    {% endif %}

   {% endfor %}
   </div>

  </div>

 </fieldset>
 <button class="btn btn-primary" onclick="$.fn.snafu_object('add','user'); return false;">Enregister</button>
</form>

