<div class="tabbable tabs-left">
 <ul id="userTab" class="nav nav-tabs nav-stacked">
  <li class="active"><a id="refCount" href="#userList" data-toggle="tab">{{ Us|length }} utilisateur(s)</a></li>
  <li><a href="#addUser" data-toggle="tab">Ajouter</a></li>
 </ul>
 
 <div id="userTabContent" class="tab-content">

  <div class="tab-pane fade in active" id="userList">
   {% include "configuration/user/manage.html" %}
  </div>

  <div class="tab-pane fade" id="addUser">
   {% include "configuration/user/form.html" %}
  </div>

 </div>
</div> 
