<ul class="nav nav-tabs nav-stacked">
 {% if UsPage.has_previous %}
  <li><a onclick="$.fn.snafu_object('list','user',{{ UsPage.previous_page_number }});">&uarr; Précédents</a></li>
 {% endif %}

 {% for U in UsPage %}
  <li>
   <a id="user{{ U.pk }}Tab" class="get-user" href="#" data-toggle="tab" onclick="$.fn.snafu_object('get','user',{{ U.pk }})">
   {% if not U.first_name %}
    {{ U.username }}
   {% else %}
    {{ U.first_name }} {{ U.last_name }}
   {% endif %}
   </a>
  </li>
 {% endfor %}

 {% if UsPage.has_next %}
  <li><a onclick="$.fn.getUsers({{ UsPage.next_page_number }});">&darr; Suivant(s)</a></li>
 {% endif %}
</ul>
