<h4 align="center">{{ U }}</h4>

<dl>
 <dt>Username:</dt>
 <dd>{{ U.username }}</dd>

 <dt>First name:</dt>
 <dd>{{ U.first_name|default:"(Aucun)" }}</dd>

 <dt>Last name:</dt>
 <dd>{{ U.last_name|default:"(Aucun)" }}</dd>

 <dt>Email:</dt>
 <dd>{{ U.email|default:"(Aucun)" }}</dd>
</dl>

<div class="btn-group">
 {% if user.is_superuser %}
  <button class="btn btn-danger" onclick="$.fn.resetPassword({{ U.pk }})">Réinitialisation du mot de passe</button>
  <button class="btn btn-danger" onclick="$.fn.snafu_object('del','user',{{ U.pk }})">Supprimer</button>
 {% endif %}
</div>
